In [1]:
#Import Statements
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
census = pd.read_csv (r'cen.csv')

In [3]:
census

,Country.Area.Name,FIPS,GENC,Subregion,Region,Year,Total.Fertility.Rate,Life.Expectancy.at.Birth..Both.Sexes,Life.Expectancy.at.Birth..Males,Life.Expectancy.at.Birth..Females
0,Afghanistan,AF,AF,South-Central Asia,Asia,2000,8.0000,45.49,44.55,46.48
1,Afghanistan,AF,AF,South-Central Asia,Asia,2020,4.8200,52.84,51.35,54.41
2,Albania,AL,AL,Southern Europe,Europe,2000,2.1716,74.70,71.98,77.66
3,Albania,AL,AL,Southern Europe,Europe,2020,1.5288,78.99,76.30,81.90
4,Algeria,AG,DZ,Northern Africa,Africa,2000,2.3654,71.84,70.86,72.87
...,...,...,...,...,...,...,...,...,...,...
451,Yemen,YM,YE,Western Asia,Asia,2020,3.2000,66.85,64.58,69.24
452,Zambia,ZA,ZM,Eastern Africa,Africa,2000,5.8734,44.48,43.44,45.55
453,Zambia,ZA,ZM,Eastern Africa,Africa,2020,4.6971,65.58,63.77,67.44
454,Zimbabwe,ZI,ZW,Eastern Africa,Africa,2000,3.9183,44.06,43.57,44.56
455,Zimbabwe,ZI,ZW,Eastern Africa,Africa,2020,3.9300,62.33,60.21,64.51

In [4]:
c20 = census[census['Year']>2019]

In [5]:
c20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 1 to 455
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country.Area.Name                     228 non-null    object
 1   FIPS                                  228 non-null    object
 2   GENC                                  227 non-null    object
 3   Subregion                             228 non-null    object
 4   Region                                228 non-null    object
 5   Year                                  228 non-null    int64
 6   Total.Fertility.Rate                  228 non-null    float64
 7   Life.Expectancy.at.Birth..Both.Sexes  228 non-null    float64
 8   Life.Expectancy.at.Birth..Males       228 non-null    float64
 9   Life.Expectancy.at.Birth..Females     228 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 19.6+ KB

In [6]:
c20.shape

(228, 10)